footer p {
    margin:10px;
    border: var(--borderColor) solid 1px;
    border-radius: 5px;
    padding:10px 10px 10px 10px;
    background-color: var(--mainColor);
}

#tt {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
    flex-direction: row;
}

#tt :last-of-type {
    flex-grow: 0;
    justify-self: start;
}




main p{
    text-align: center;
    margin: 10px 10vw 10px 10vw;
    border: var(--borderColor) solid 1px;
    border-radius: 10px;
    background: var(--mainColor);
    
    padding: 5px;
    font-size: 24px;
}



td img {
    max-height: 25vw;
    max-width: 25vw;
    min-height: 15vw;
    min-width: 15vw;
}

a {
    color: #FFEB00;
}

main {
    padding: 10px;
}

#main {
    padding: 10px 3px;
    width: 95vw;
    align-items: center;
    margin: auto;
}

/* @media (max-width:1200px) {
    #main {
        max-width: 1100px;
    }
}
@media (max-width:992px) {
    #main {
        max-width: 892px;
    }
}
@media (max-width:767px) {
    #main {
        max-width: none;
    }
} */