
:root {
    --backColor: #3B037F;
    --mainColor: #893FE2;
    --borderColor: #D789FF;
    --backColorRazdel: #5E08C4;
    --borderBack: #A066BE;
}


header,main,footer{
    padding: 2px;
    margin: 10px;
    border: var(--borderBack) solid 1px;
    border-radius: 10px;
    background: var(--backColorRazdel);
}


body {
    color: white;
    background-color: var(--backColor);
    font-size: 20px;
}

.icon {
    width: 60px;
    height: auto;
    background: url("../icon.png") no-repeat;
    background-size:100%;
    text-align: left;
}

header {
    padding: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

header p {
    margin: 20px;
    text-align: center;
}


footer {
    padding: 10px;
}

footer p {
    margin:10px;
    border: var(--borderColor) solid 1px;
    border-radius: 5px;
    padding:10px 10px 10px 10px;
    background-color: var(--mainColor);
}





td{
    text-align: center;
    margin:1vw;
    width: 33vw;
    height: 33vw;
    border: var(--borderColor) solid 1px;
    border-radius: 10px;
    background: var(--mainColor);
}

main p{
    text-align: center;
    margin: 10px 10vw 10px 10vw;
    border: var(--borderColor) solid 1px;
    border-radius: 10px;
    background: var(--mainColor);
    
    padding: 5px;
    font-size: 24px;
}



td img {
    max-height: 25vw;
    max-width: 25vw;
    min-height: 15vw;
    min-width: 15vw;
}

a {
    color: #FFEB00;
}

main {
    padding: 10px;
}
