:root {
    --scrollBack:#E266D7;
    --scroolIn: #C400B4;
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollBack);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scroolIn);
}


