.vers {
    padding: 0px;
    margin: 5px;
    color: white;
    
    text-align: left;
    width: 80vw;
    height: auto;
    /*background: url("sprites/0.0.2.png") no-repeat;*/
    background-size: 100%;
}
.names {
    margin: 0px;
    font-size: 3vh;
    position: relative;
    background: #00000099;
    width: inherit;
    height: 5vh;
    top: -5vh;
}
.img {
    image-rendering: pixelated;
    width: inherit;
    height: inherit;
    filter: brightness(0.8);
}

.vers:hover {
    filter: brightness(0.6);
}