.vers {
    padding: 0px;
    margin: 5px;
    color: white;
    text-align: left;
    width: 30vw;
    height: 20vw;
    background-size: 100%;
    cursor: pointer;
    float: left;
}

.vers:active {
    cursor: wait;
}

.names {
    margin: 0px;
    font-size: 150%;
    position: relative;
    background: #00000099;
    width: inherit;
    height: 20%;
    top: -20%;
}
.img {
    object-fit:cover;
    width: inherit;
    height: inherit;
    filter: brightness(0.8);
}

.vers:hover {
    filter: brightness(0.6);
}

#main {
    height: 400px;
}
